{% extends 'base_users.html' %}
{% block content %}
<h3 class="mt-4 mb-4">Enter valid info below to register: </h3>

<form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <div>
        <button class="btn btn-success" type="submit">Sign Up</button>
    </div>
</form>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success mb-3 mt-4" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <div>
        <a class="btn btn-success" href="{% url 'users:login' %}">Login Now!</a>
    </div>

{% endif %}

{% endblock %}