{% extends 'base.html' %}
{% block content %}

<form method="post">
    {% csrf_token %}

    <h4 class="mb-3">Enter the Item Details:</h4>

    {{ form.as_p }}

    <div>
        <button class="btn btn-success" type="submit">Add</button>
    </div>
</form>

{% if messages %}
    {% for message in messages %}
        <div>
            <h4>{{ message }}</h4>
        </div>
    {% endfor %}
    <a class="btn btn-warning" href="{% url 'restaurant_menu:home' %}">Back to Menu</a>
{% endif %}


{% endblock %}